[core]
    ignorecase = false

[user]
    name = Amon Sawamura
    email = amotarao@gmail.com

[color]
    ui = auto

[alias]
    st = status
    a = add
    c = commit -m
    ci = commit
    co = checkout
    amend = commit --amend
